{% extends './base.html.twig' %}

{% block title %}Annuaire - Foyer{% endblock %}


{% block body %}

       <header>
        <section class="benHeader">
            <div class="title">
                <h1>Annuaire des bénévoles du foyer</h1>
                {% for benevole in benevole %}
                <h2>{{ benevole.nom }}
                {% endfor %}

            </div>
            <div class="logo">
                <image src="./assets/img/crm_logo.png" alt="logo du CRM";>
            </div>
       
        </section>
    </header>

{% endblock %}